#profile-page{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.profile-page.card{
    width: 400px;
    height: 450px;
}

.profile-page > .card-title{
    margin-top:35px;
}

.profile-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}