.navbar{
    background: #FFFFFF;
    height: 70px;
    padding-left: 200px;
    padding-right: 150px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .08);
    align-items: center;
}
.navbar-brand{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.navbar-nav{
    align-items: center;
}
.user-name{
    margin-right: 20px;
    font-weight: bolder;
}
@media (max-width:700px) {
    .navbar{
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-brand{
        font-size: 20px;
        text-wrap: wrap;
    }
    .nav-link{
        font-size: 13px;
    }
}