#report-info-page{
    display: flex;
    justify-content: center;
}
.report-info.card{
    margin-top: 20px;
    width: 800px;
    align-items: flex-start;
    height: auto;
}
.header-with-bin{
    display: flex;
    justify-content: space-between;
}
.report-body >div > .card-text {
    font-size: 24px;
    margin-left: 40px;
}
#bin-image{
    margin-right: 100px;
    width: 50px;
}

.report-header{
    display: flex;
    margin-top: 30px;
    padding-left: 10px;
    margin-left: 40px;
    margin-right: 40px;
    gap:80px
}

.date-input-block{
    display:flex;
    background:#ECEEF2;
    border-radius: 12px;
    font-size: 20px;
    padding-left: 15px;
    align-items: center;
    gap:20px;
    padding-right: 10px;
}

.report-date-input{
    border:none;
    background:#ECEEF2;
    width: 120px;
    text-decoration-color: black;
}

.report-body{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.station-card-col{
    width: auto;
}

.station-report-image{
    padding: 10px;
    margin-top: 0;
    cursor: auto;
}

.form-button{
    background-color: #ECEEF2;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}